.container {
  max-width: 100vw;
  min-height: calc(100vh + 200px);
  margin: -24px -24px -80px;
  padding-top: 24px;
  padding-bottom: 80px;
  color: #541313;
  background-color: #F7D08A;
}

.innerContainer {
  width: 95%;
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.info {
  width: 100%;
}

.slogan {
  width: 100%;
  font-family: Lemon, serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaded .slogan {
  margin-top: 100px;
}

.bottomText {
  font-size: 1.8rem;
  font-weight: bold;
  padding-top: 25px;
}

.bottomText span {
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .loaded .slogan {
    margin-top: 50px;
  }
}

/* Big Screens */
@media (min-width: 600px) and (min-height: 900px) {
  .container {
    min-height: 100vh;
  }
  .innerContainer {
    min-height: 90vh;
    padding-bottom: 200px;
  }

  .slogan {
    position: absolute;
  }

  .loaded .info {
    animation: info-fade-in 1s ease-in;
    animation-fill-mode: forwards;
  }
  .loaded .slogan {
    animation: slogan-slide-down 1s cubic-bezier(0.25,0.1,0.25,1);
    animation-fill-mode: forwards;
  }
}

@keyframes info-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slogan-slide-down {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 850px;
  }
}