.container {
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.inputs {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .inputs {
    flex-direction: column;
  }
}
